/*  ** @version 0.1.0    **
	** @date 2016-22-05  ** 

	INDEX:
	  
	  1. Normalize CSS
		  1.1 HTML & Body
		  1.2 Typography
		  1.3 Inputs & Forms
		  1.4 Tables
		  1.5 Misc. Elements
	  2. The Grid
	  3. Screen Sizes
	  4. Utility Classes
	  5. Navigation
	  6. Template Styles
							*/
	
/*  *********************
    **  NORMALIZE CSS  **
    *********************  */

/* Force MS Edge to Recognize Pseudo Classes */
@supports (-ms-accelerator:true) {
    .selector { property:value; } 
}

/* Normalize HTML & Body */
html {
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-weight: 300;  
    margin: 0;
    margin-top: 70px;
    padding: 0;
}

/* Normalize Typography */
a {
    color: #0288D1;
}

a:hover {
    color: #0277BD;
}

abbr[title] { /* Crossbrower Abbreviations */
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

code, pre, {
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    font-weight: 600;
}

dfn {
    font-style: italic;
}

footer {
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 300;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2.0em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.0em;
}

strong, b {
    font-weight: bold;
}

sub, sup { /* Make sure SUB and SUP don't affect line-heights */
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Normalize Inputs & Forms */
input {
    display: table;
    margin-bottom: 15px;
    width: 100%;
}

label {
    padding: 5px 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

input[type=search], input[type=email], input[type=number], input[type=password], input[type=tel], input[type=url], input[type=date] {
	padding: 7px 9px;
	min-height: 35px;
	border: 1px solid;
	border-color: #E0E0E0;
	border-radius: 6px;
	outline: 0;
	transition: box-shadow 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}

input[type=search]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=date]:focus {
	box-shadow: 0px 0px 3px #E1F5FE , inset 0px 0px 3px #B3E5FC;
	border-color: #81D4FA;
}

input[type=button], input[type=submit], input[type=reset]{
	padding: 10px;
	border-radius: 5px;
	outline: 0;
	border: none;
	background: #eee;
	min-height: 35px;
	cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background: #d3d3d3;
}

input[type=range] {
    width: 100%;
    margin: 0;
}

/* Normalize Tables */
table {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
	width: 100%; 
	border-collapse: collapse;
}

td {
	padding: 10px 10px 10px 0;
	border-collapse: collapse;
	border-bottom: 1px solid;
}

th {
	text-align: left;
	padding: 3px 0px 10px 0px;
}

/* Normalize Misc. Elements */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 6em 0;
    padding: 0; 
}

textarea {
  overflow: auto;
}



/*  ****************
    **  THE GRID  **
    ****************  */

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col {
    position: relative;
    float: left;
    display: block;
}

.col + .col {
    margin-left: 1.6%;
}

.col + .col-12 {
    margin-left: 0;    
}

.col-1 {width: 6.86666666667%;}
.col-2 {width: 15.3333333333%;}
.col-3 {width: 23.8%;}
.col-4 {width: 32.2666666667%;}
.col-5 {width: 40.7333333333%;}
.col-6 {width: 49.2%;}
.col-7 {width: 57.6666666667%;}
.col-8 {width: 66.1333333333%;}
.col-9 {width: 74.6%;}
.col-10 {width: 83.0666666667%;}
.col-11 {width: 91.5333333333%;}
.col-12 {
    width: 100%;
    margin-left: 0;
}

.grid {
	padding-left: 10px;
	padding-right: 10px;
}



/*  ********************
    **  SCREEN SIZES  **
    ******************** */

/* PHONE */
@media only screen and (max-width : 680px) {
    body {
        font-size: 12px;
    }
	
    .col-1, 
    .col-2, 
    .col-3, 
    .col-4, 
    .col-5, 
    .col-6, 
    .col-7, 
    .col-8, 
    .col-9, 
    .col-10, 
    .col-11, 
    .col-12 {
        float: none;
        width: auto;
    }
  
    .col + .col {
        margin-left: 0;
    }
    
    .row {
        margin-bottom: 0;
    }
    .col {
        margin-bottom: 10px;
    }
    .row:last-child .col:last-child {
        margin-bottom: 0;
    }
    
    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
    }
	
    thead tr { display: none; }
	
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 5px;
        text-transform: uppercase;
    }
    
    table td {
        text-align: right;
    }
	
    table tr {
        margin-bottom: 15px;
    }
	
    table tr:last-child {
        margin-bottom: 0;
    }	
	
    
    /* Responsive Navigation */
    ul.nav-menu {
        position: relative;
        float: none;
        clear: both;
        width: 100%;
    }
    ul.nav-menu li {display: none;}
    ul.nav-menu li:first-child {display: inline;}
    ul.nav-menu li:last-child {display: inline;}
    ul.nav-menu li.mobile-icon {
        float: right;
    }
        
    ul.nav-menu.mobile-nav {position: relative;}
    
    ul.nav-menu.mobile-nav li.mobile-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    ul.nav-menu.mobile-nav li {
        float: none;
        display: inline;
    }
    
    ul.nav-menu.mobile-nav li a {
        text-align: left;
    }
    
    ul.nav-menu li:hover > ul {
        display: none;
    }
    
    ul.nav-menu ul li a {
        padding-left: 40px;
    }
    ul.nav-menu ul li a:before {
        content: "- ";
    }
    
    ul.nav-menu.mobile-nav ul {
        border-left: none;
        border-right: none;
    }
    
}


/* DESKTOPS */
@media only screen and (min-width: 681px) {
    body {
        font-size: 15px;
    }
    
    .grid {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row {
        margin-bottom: 10px;
    }

    .row:last-child {
        margin-bottom: 0;
    }
    
    /* Responsive Navigation */
    ul.nav-menu li.mobile-icon {
        display: none;
    }
}



/*  ***********************
    **  UTILITY CLASSES  **
    ***********************  */

.col-centered { 
	margin:auto;
	float:none;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-justify {
    text-align: justify;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.hide {
	display:none;
}



/*  ******************
    **  NAVIGATION  **
    **************** */

.nav {
	margin: none;
	min-height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	background: #fff;
	width: 100%;
	z-index: 99;
	border-bottom: 1px solid #eee;
	}

.nav .site-header a {
	color: #A5D6A7;
}

ul.nav-menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
	list-style-type: none;
}


ul.nav-menu li {
    float: left;
}

ul.nav-menu li a {
	padding: 15px 25px;
	display: block;
	text-align: center;
}

ul.nav-menu li:hover > ul {
	display: block;
}

ul.nav-menu ul
{
	display: none;
	position: absolute;
	top: 100%;
	border: 1px solid #eee;
	border-top: none;
	background: #fff;
	padding: 0;
	list-style-type: none;
}

ul.nav-menu ul li{
	width: 100%;
}

.nav a:hover {
	background: rgba(0,0,0,0.05);
}

.nav h1 {
	padding: 0px;
	margin: 0px;
	font-size: 30px;
	color: #A5D6A7;
	font-weight: 300;
	letter-spacing: 3px;
}

/*  ***********************
    **  TEMPLATE STYLES  **
    ***********************  */

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

body {
    font-family: 'Titillium Web', sans-serif;
	margin-bottom: 60px;
	color: #37474F;
}

::selection {
	background: #cbe7cc;
}

footer {
    color: #A5D6A7;
    border-top: 1px solid #eee;
    padding-top: 3px;
}

h1.example-title {
	color: #A5D6A7;
}

td {
	border-color: #E0E0E0;
}

.anchor {
	display:inline-block;
	padding-top:65px;
}

.nav  a {
	text-decoration:none;
	color:#A5D6A7;
	-o-transition:background .1s ease-out, background .1s ease-in;
	-ms-transition:background .1s ease-out, background .1s ease-in;
	-moz-transition:background .1s ease-out, background .1s ease-in;
	-webkit-transition:background .1s ease-out, background .1s ease-in;
	transition:background .1s ease-out, background .1s ease-in;
}

.example-nav {
	position: relative;
	z-index: 98;
	border: 1px solid #eee;
}

.example-column {
	/* Base Style */
	background: #eee;
    border-radius: 5px;
    padding: 5px 15px;
    min-height: 30px;
	color: #37474F;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-align: center;
}

.code-block  {
	padding: 0px 20px;
	font-size: 1em;
	border: 1px solid #E0E0E0;
	overflow: auto;
	border-radius: 5px;
}

.button-default {
	background: #CBE7CC!important;
	
	-o-transition:background .1s ease-out, background .1s ease-in;
	-ms-transition:background .1s ease-out, background .1s ease-in;
	-moz-transition:background .1s ease-out, background .1s ease-in;
	-webkit-transition:background .1s ease-out, background .1s ease-in;
	transition:background .1s ease-out, background .1s ease-in;
}

.button-default:hover { 
	background: #A5D6A7!important;
}