/*  *********************
    **  NORMALIZE CSS  **
    *********************  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

input {
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

table {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}



/*  ****************
    **  THE GRID  **
    ****************  */

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col {
    position: relative;
    float: left;
    display: block;
}

.col + .col {
    margin-left: 1.6%;
}

.col + .col-12 {
    margin-left: 0;
    
}

.col-1 {width: 6.86666666667%;}
.col-2 {width: 15.3333333333%;}
.col-3 {width: 23.8%;}
.col-4 {width: 32.2666666667%;}
.col-5 {width: 40.7333333333%;}
.col-6 {width: 49.2%;}
.col-7 {width: 57.6666666667%;}
.col-8 {width: 66.1333333333%;}
.col-9 {width: 74.6%;}
.col-10 {width: 83.0666666667%;}
.col-11 {width: 91.5333333333%;}
.col-12 {
    width: 100%;
    margin-left: 0;
}



/*  ********************
    **  SCREEN SIZES  **
    ******************** */

/* PHONE */
@media only screen and (max-width : 480px) {
    body {
        font-size: 12px;
    }
    
    .col-1, 
    .col-2, 
    .col-3, 
    .col-4, 
    .col-5, 
    .col-6, 
    .col-7, 
    .col-8, 
    .col-9, 
    .col-10, 
    .col-11, 
    .col-12 {
        float: none;
        width: auto;
    }
  
    .col + .col {
        margin-left: 0;
    }
    
    .row {
        margin-bottom: 0;
    }
    .col {
        margin-bottom: 10px;
    }
    .row:last-child .col:last-child {
        margin-bottom: 0;
    }
    
    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    
    tr {margin-bottom: 10px;}
    tr:last-child {margin-bottom: 0;}
    
}

/* TABLETS + */
@media only screen and (min-width: 481px) {
    body {
        font-size: 14px;
    }
    
    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row {
        margin-bottom: 10px;
    }

    .row:last-child {
        margin-bottom: 0;
    }
}

/* DESKTOPS */
@media only screen and (min-width: 721px) {
    body {
        font-size: 16px;
    }
    
    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row {
        margin-bottom: 10px;
    }

    .row:last-child {
        margin-bottom: 0;
    }
}



/*  ***********************
    **  UTILITY CLASSES  **
    ***********************  */
.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}


/*  *******************
    **  TEMP STYLES  **
    *******************  */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

body {
    font-family: 'Titillium Web', sans-serif;
}

.bgGray {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #444;
    padding: 5px;
    min-height: 30px;
}