/*  ** @version 0.0.5    **
	** @date 2016-16-05  ** */
	
/*  *********************
    **  NORMALIZE CSS  **
    *********************  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

a {
	color: #0288D1;
}

a:hover {
	color: #0277BD;
}

input {
    display: table;
    margin-bottom: 15px;
    width: 100%;
}

label {
	padding:5px 0;
	display:inline-block;
	text-transform:uppercase;
	font-size:11px;
	color:#7e7e7e;
	font-weight:600;
}

input[type=search], input[type=email], input[type=number], input[type=password], input[type=tel], input[type=url], input[type=date] {
	padding:7px 9px;
	border: 1px solid;
	border-color: #d3d3d3;
	border-radius:50px;
	outline: 0;
	transition: box-shadow 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}

input[type=search]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=date]:focus {
	box-shadow:  0px 0px 3px #E1F5FE , inset 0px 0px 3px #B3E5FC;
	border-color: #81D4FA;
}

input[type=button], input[type=submit], input[type=reset]{
	background-color: #fff;
	padding: 10px;
	border-radius: 6px;
	outline: 0;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
	background-color: #f6f6f6;
}

/*  ****************
    **  THE GRID  **
    ****************  */

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col {
    position: relative;
    float: left;
    display: block;
}

.col + .col {
    margin-left: 1.6%;
}

.col + .col-12 {
    margin-left: 0;
    
}

.col-1 {width: 6.86666666667%;}
.col-2 {width: 15.3333333333%;}
.col-3 {width: 23.8%;}
.col-4 {width: 32.2666666667%;}
.col-5 {width: 40.7333333333%;}
.col-6 {width: 49.2%;}
.col-7 {width: 57.6666666667%;}
.col-8 {width: 66.1333333333%;}
.col-9 {width: 74.6%;}
.col-10 {width: 83.0666666667%;}
.col-11 {width: 91.5333333333%;}
.col-12 {
    width: 100%;
    margin-left: 0;
}



/*  ********************
    **  SCREEN SIZES  **
    ******************** */

/* PHONE */
@media only screen and (max-width : 480px) {
    body {
        font-size: 12px;
    }
    
    .col-1, 
    .col-2, 
    .col-3, 
    .col-4, 
    .col-5, 
    .col-6, 
    .col-7, 
    .col-8, 
    .col-9, 
    .col-10, 
    .col-11, 
    .col-12 {
        float: none;
        width: auto;
    }
  
    .col + .col {
        margin-left: 0;
    }
    
    .row {
        margin-bottom: 0;
    }
    .col {
        margin-bottom: 10px;
    }
    .row:last-child .col:last-child {
        margin-bottom: 0;
    }
    
    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
    }    
    thead tr { display: none; }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 5px;
        text-transform: uppercase;
    }
    table tr {
        margin-bottom: 10px;
    }
    table tr:last-child {
        margin-bottom: 0;
    }

}

/* TABLETS + */
@media only screen and (min-width: 481px) {
    body {
        font-size: 14px;
    }
    
    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row {
        margin-bottom: 10px;
    }

    .row:last-child {
        margin-bottom: 0;
    }
}

/* DESKTOPS */
@media only screen and (min-width: 721px) {
    body {
        font-size: 16px;
    }
    
    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row {
        margin-bottom: 10px;
    }

    .row:last-child {
        margin-bottom: 0;
    }
}



/*  ***********************
    **  UTILITY CLASSES  **
    ***********************  */
.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

/*  *********************
    **  TABLE STYLES  **
    *********************  */
table {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
	width: 100%; 
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 3px 0px 10px 0px;
}

@media only screen and (max-width : 480px) {
	td:first-child {
		border:none;
	}
}

td {
	padding: 10px 0px;
	border-collapse: collapse;
	border-top:1px solid #d3d3d3;
}



/*  *******************
    **  TEMP STYLES  **
    *******************  */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900);

body {
    font-family: 'Titillium Web', sans-serif;
	background-color:#f6f6f6;
	margin-bottom:60px;
	color:#37474F;
}

.card {
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px;
    min-height: 30px;
	color:#37474F;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}